@import '../styles/vars';
@import '../styles/globals';

/* Button width */
$heightRatio: 1.82;
$smallToggleWidth: 30px;
$mediumToggleWidth: $smallToggleWidth * $ratio;
$largeToggleWidth: $mediumToggleWidth * $ratio;
$smallToggleHeight: $smallToggleWidth / $heightRatio;
$mediumToggleHeight: $mediumToggleWidth / $heightRatio;
$largeToggleHeight: $largeToggleWidth / $heightRatio;
$borderWidth: 1px;
$toggleGap: 2px;


.toggle {
  position: relative;
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: $white-mute;
  border: $borderWidth solid $divider-light-1;
  border-radius: 40px;
  display: flex;
  align-items: center;
  transition: transform .3s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &_active {
    background-color: $primary;
  }

  &::after {
    content: "";
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    transition: .3s;
    position: absolute;
    transform: translate(0);
    left: $toggleGap / 2;
  }
}

/* Small switch */

$smallSize: ($smallToggleHeight - $borderWidth * 2);

.small {
  width: $smallToggleWidth;
  height: $smallToggleHeight;

  &::after {
    width: $smallSize - $toggleGap;
    height: $smallSize - $toggleGap;

  }

  &_active::after {
    transform: translate($smallSize + $smallToggleWidth - ($smallSize * 2) - $borderWidth * 2);
  }
}

/* Medium switch */

$mediumSize: ($mediumToggleHeight - $borderWidth * 2);

.medium {
  width: $mediumToggleWidth;
  height: $mediumToggleHeight;

  &::after {
    width: $mediumSize - $toggleGap;
    height: $mediumSize - $toggleGap;
  }

  &_active::after {
    transform: translate($mediumSize + $mediumToggleWidth - ($mediumSize * 2) - $borderWidth * 2);
  }
}

/* Large switch */

$largeSize: ($largeToggleHeight - $borderWidth * 2);

.large {
  width: $largeToggleWidth;
  height: $largeToggleHeight;

  &::after {
    width: $largeSize - $toggleGap;
    height: $largeSize - $toggleGap;
  }

  &_active::after {
    transform: translate($largeSize + $largeToggleWidth - ($largeSize * 2) - $borderWidth * 2);
  }
}