@import '../../assets/styles/media';

.root {
  /* xs device */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: auto;

  @media (min-width: $sm_device) {
    max-width: 540px;
  }
  @media (min-width: $md_device) {
    max-width: 720px;
  }
  @media (min-width: $lg_device) {
    max-width: 960px;
  }
  @media (min-width: $xl_device) {
    max-width: 1140px;
  }
  @media (min-width: $xxl_device) {
    max-width: $xxl_device - 64px;
  }
}

.container_fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
