@import '../../assets/styles/vars';
@import '../../assets/styles/globals';

/* Buttons width */
$smallButton: 100px;
$mediumButton: $smallButton * $ratio;
$largeButton: $mediumButton * $ratio;


.button {
  background-color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 13px;
  color: $dark;
  border: none;
  transition: ease-in .2s;
  -webkit-tap-highlight-color: transparent;
}

/* Type */

.primary {
  background-color: $primary;
  color: white;
  &:hover {
    background-color: $button-hover;
  }
}

.secondary {
  background-color: $gray-light-5;
  &:hover {
    background-color: $gray-light-4;
    color: $gray-dark-4;
  }
}

/* Variant */

.round {
  border-radius: 40px;
}
.rounded {
  border-radius: 8px;
}
.square {
  border-radius: 0;
}

/* Outline */

.outline {
  &_primary {
    border: 1px solid $black-soft;
  }
  &_secondary {
    border: 1px solid $gray-light-3;
    background-color: $gray-light-5;
  }
}

/* Size */

.small {
  padding: 8px 18px;
  font-size: 13px;
  min-width: $smallButton;
}
.medium {
  padding: 10px 27px;
  font-size: 16px;
  min-width: $mediumButton;
}
.large {
  padding: 13px 36px;
  font-size: 19px;
  min-width: $largeButton;
}

/* Disabled */

.disabled {
  background-color: #d6d6d6;
  box-shadow: none;
  border: none;
  color: $secondary;

  &:hover {
    box-shadow: none;
  }
}
