@import '../../assets/styles/vars';
@import '../../assets/styles/globals';

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  backdrop-filter: saturate(50%) blur(8px);
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
